.task__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  flex-grow: 1;
  height: calc(100vh - 74px - 74px);
  max-height: calc(100vh - 74px - 74px);
}

.task__info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
