.task__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  flex-grow: 1;
  height: calc(100vh - 74px - 74px);
  max-height: calc(100vh - 74px - 74px);
}

.task__info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  padding: 8px 16px;
  margin-bottom: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: #e0e0e0;
  }
}