header {
    background-color: #5c2f91;
    color: white;
    padding: 10px 0;
}
  
.nav {
    align-items: center;
}
  
.nav .title {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
}
  
.profile-icon img {
    float: right;
    margin-right: 5px; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
}